@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
	padding: 0;
	margin: 0;
}

.header {
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)), url(../image/pangandaran-3.jpg);
	background-size: cover;
	background-position: center; 
	background-attachment: fixed;
}

.header .container-fluid {
	padding-top: 20px;
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.link-btn {
	margin: 0;
	color: #ffffff;
	background: #000;
	border-radius: 30px;
	/*border: 1px solid #fff;*/ 
	border: none;
	padding: 8px 20px;
	outline: none !important;
	font-size: 15px;
	float: right;
}

.link-btn:hover {
	color: #000;
	background: #fff;
}

.header h1, .header p {
	color: white;
	text-align: center;
}

.header h1 {
	padding-top: 220px;	
}

.header .input-group {
	width: 90%;
	max-width: 700px ;
	margin: auto;
	border: none;
	border-radius: 30px;
	padding: 2px;
}

.header .form-control, .header .input-group-text {
	margin-top: 10px;
	border: none;
	border-radius: 30px;
}

.header .input-group-text {
	background: #000000;
	border-radius: 30px;
	color: #ffffff;
	padding: 0 25px;
	text-align: center;
}

